.docs h4 {
  margin-left: 25px;
  margin-right: 25px;
  font-style: italic;
  font-family: 'Muli', sans-serif;
}

.ng-hide-remove { 
  animation: 0.5s fadeInUp ease;
}

.docs h1 {
  font-weight: bold; 
  font-family: 'Muli', sans-serif;
}

.docs h2 {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
}

.docs h3 {
  font-family: 'Muli', sans-serif;
}

.executionTitle {
  color: rgb(101, 185, 172);
}

.hostingTitle {
  color: rgb(203, 81, 58);
}

.integrationTitle {
  color: rgb(115, 192, 58);
}