.hosting h1 {
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-weight: bolder;
}

.hosting .subhead {
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 1.25em;
  font-style: italic;
  margin-bottom: 30px;
}

.hosting button {
  text-align: center;
  margin-bottom: 40px;
}

.hosting span.glyphicon {
  font-size: 3em;
  margin-bottom: 10px;
}

.hosting .lead {
  font-family: 'Muli', sans-serif;
}

.hosting .col-md-2 {
  /*text-align: center;*/ 
}

.host-page {
  width: 100%;
  left: auto;
  right: auto;
  text-align: center;
}

.ng-hide-remove { 
  animation: 0.5s fadeInUp ease;
}

.fileLabel {
  margin-bottom: 5px;
  margin-top: 10px;
}

.inputField {
  margin-top: 40px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
  padding-top: 100px;
}

input[readonly] {
  font-family: 'Muli', sans-serif !important;
  background-color: white !important;
  cursor: normal !important;
}