.header-content {
/*  margin-top: -21px;
*//*  height: 130%;
*//*  background-image: url(../images/laptop.jpg);
*/  /*background-size: 115% auto;
  background-position: 40% 65%;*/
  background-color: #dddddd;
  border: none;
}

.header-content h1 {
  font-size: 4.5em;
  font-family: 'Muli', sans-serif;
  position: relative;
  left: 430px;
  top: -30px;
}

.header-content h2 {
  font-weight: bolder;
  font-family: 'Muli', sans-serif;
  position: relative;
  left: 360px;
}

.header-content p {
  font-family: 'Muli', sans-serif;
  position: relative;
  left: 475px;
/*  top: -20px;
*/}