.header-content {
/*  margin-top: -21px;
*//*  height: 130%;
*//*  background-image: url(../images/laptop.jpg);
*/  /*background-size: 115% auto;
  background-position: 40% 65%;*/
  background-color: #dddddd;
  border: none;
}

.ng-hide-remove { 
  animation: 0.5s fadeInUp ease;
}

.header-content h1 {
  font-size: 55px;
  font-family: 'Muli', sans-serif;
  position: relative;
  padding-left: 90px;
  top: -20px;
  margin-bottom: 0;
}

.header-content h2 {
  margin-top: 0;
  font-weight: bolder;
  font-family: 'Muli', sans-serif;
}

.header-content p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  margin: 0;
}

.icon-content p {
  font-family: 'Muli', sans-serif;
  margin-top: 10px;
}

.text-warning {
  color: rgb(115, 192, 58);
}
.text-warning:hover, .text-primary:hover, .text-danger:hover {
  color: black;
}

.text-primary {
  color: rgb(101, 185, 172);
}

.text-danger {
  color: rgb(203, 81, 58);
}

.fa {
  margin-top: 30px;
}