iframe {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ng-hide-remove { 
  animation: 0.5s fadeInUp ease;
}

.show-bar {
  animation: none;
}

.metrics h1 {
  font-weight: bold;
}

.refresh {
  width: 100%;
}
.glyphicon-refresh {
/*  width: 100%;
  height: 100%;
*//*  font-size: 36px;
*/}
/*.metrics-title {
  margin-top: 0px !important;
}*/
/*.refresh .glyphicon {
  font-size: 40px;
}*/