iframe {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ng-hide-remove { 
  animation: 0.5s fadeInUp ease;
}

.show-bar {
  animation: none;
}

.metrics h1 {
  font-weight: bold;
}

.refresh {
  width: 100%;
  color: #ffffff !important;
  background-color: rgb(72, 157, 145) !important; 
  border-color: rgb(72, 157, 145) !important;
}