<div ng-cloak class="hosting container">
  <h1 class="animated fadeInDown">Instant Static Web Hosting</h1>
  <p class="animated fadeInDown subhead">Upload your static web files for instant temporary hosting powered by our API.</p>
  <div ng-show="showFlag">
    <form name="form">
      <!-- <div class="row container"> -->
        <!-- <div class="col-md-2 col-md-offset-3 text-center"> -->
          <!-- <button class="btn btn-primary" ngf-select ng-model="jsFiles" ngf-multiple="true">Select JS Files</button> -->
      <div class="row">
        <div class="col-md-10 col-md-offset-3">
          <div class="text-center container">
            <div class=" row">
              <div class="fileLabel col-lg-2 col-sm-2 col-4">
                <span class="glyphicon glyphicon-list-alt"></span><br>
                  <p class="lead">Upload your index HTML page.</p>
              </div>
              <div class="inputField col-lg-4 col-sm-4 col-8">
                <div class="input-group">
                  <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                      Browse <input type="file" id="htmlFile" on-read-file="showHTMLContent($fileContent)">
                    </span>
                  </span>
                 <input type="text" class="form-control" readonly>
                 <!-- <p>{{htmlContent}}</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="text-center container">
            <div class="row">
              <div class="fileLabel col-lg-2 col-sm-2 col-4">
                <span class="glyphicon glyphicon-cog"></span><br>
                  <p class="lead">Add a JavaScript file.</p>
              </div>
              <div class="inputField col-lg-4 col-sm-4 col-8">
                <div class="vertical input-group">
                  <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                      Browse <input type="file" id="jsFile" on-read-file="showJSContent($fileContent)">
                    </span>
                  </span>
                 <input type="text" class="form-control" readonly>
                 <!-- <p>{{jsContent}}</p> -->
                </div>
              </div>
            </div>
          </div>
<!--         <div class="col-md-2">
          <span class="glyphicon glyphicon-list-alt"></span><br>
          <p class="lead">Upload your index HTML page.</p>
          <button class="btn btn-primary" ngf-select ng-model="htmlFile">Select HTML File</button>
        </div> -->
          <div class="text-center container">
            <div class=" row">
              <div class="fileLabel col-lg-2 col-sm-2 col-4">
                <span class="glyphicon glyphicon-pencil"></span><br>
                  <p class="lead">Add a CSS stylesheet.</p>
              </div>
              <div class="inputField col-lg-4 col-sm-4 col-8">
                <div class="vertical input-group">
                  <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                      Browse <input type="file" id="cssFile" on-read-file="showCSSContent($fileContent)">
                    </span>
                  </span>
                  <input type="text" class="form-control" readonly>
                  <!-- <p>{{cssContent}}</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- <div class="col-md-2">
          <span class="glyphicon glyphicon-pencil"></span><br>
          <p class="lead">Add your linked CSS stylesheets.</p>
          <button class="btn btn-primary" ngf-select ng-model="cssFiles" ngf-multiple="true">Select CSS Files</button>
        </div> -->
      <!-- </div> -->
      <div ng-if="files" class="row">
      </div>

      <div class="row">
        <div class="col-md-2 col-md-offset-5 text-center">
          <button class="host-page btn btn-warning" type="submit" ng-click="submit()">Host your page</button>
        </div>
      </div>
    </form>
  </div>
</div>
